<!--
figure.html
-->

{% assign webp_filename = include.url | replace: ".jpg", ".webp" | replace:
".jpeg", ".webp" | replace: ".png", ".webp" | replace: ".tiff", ".webp" %} {%
capture image%}/assets/img/remote/{{ include.url }}{% endcapture %}

<figure>
  <picture>
    <!-- Use the webp file -->
    <source
      srcset="/assets/img/remote/{{ webp_filename }}"
      type="image/webp"
      width="{% imagesize image:width %}"
      height="{% imagesize image:height %}"
      style="max-width: 100%; height: auto"
    />

    <!-- Fallback to the file you added -->
    <img
      src="/assets/img/remote/{{ include.url }}"
      alt="{{ include.alt }}"
      width="{% imagesize image:width %}"
      height="{% imagesize image:height %}"
      style="max-width: 100%; height: auto"
    />
  </picture>

  <figcaption>{{ include.caption }}</figcaption>
</figure>
