/*
Light
:root {
    --white: #2d4059;
    --black: #f6f6f6;
    --code: #e4e4ea;
    --accent: #ce4257;
    --light-accent: #F7CA88;
}
*/

/*Dark*/
:root {
  --black: #1c1e26;
  --white: #f6f6f6;
  --code: #212730;
  --code-alpha: hsla(218, 20%, 16%, 0.3);
  --accent: #c5595e;
  --accent-alpha: hsl(357, 48%, 56%, 0.7);
  --light-accent: #c9837e;
  --noise-size: 64;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  background-color: var(--black);
  color: var(--white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  background-image: url(/assets/img/static.png);
  background-size: calc(2px * var(--noise-size));
}

abbr {
  font-variant: small-caps;
  font-size: 1.1em;
  text-decoration: none;
}

hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--black);
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", sans-serif;
  color: var(--white);
  margin-bottom: 10px;
}

h1.post-title {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1em;
}

h2,
h3,
h4 {
  margin-top: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  line-height: 1.5em;
  color: var(--white);
  margin: 0 0 1.5em;
}

figure {
  line-height: 1.5em;
  color: var(--white);
  margin: 0 0 1.5em;
  width: 100%;
}

figcaption {
  display: block;
  width: 80%;
  margin: -0.1em auto 2em;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

::selection {
  background: var(--light-accent);
  color: var(--white);
}

::-moz-selection {
  background: var(--light-accent);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--accent);
}

a:focus,
a:hover {
  text-decoration: none;
  color: var(--white);
}

a svg {
  stroke: var(--accent);
}

a:hover svg,
a:focus svg {
  stroke: var(--white);
}

code {
  padding: 2px 4px;
  font-size: 90%;
  font-family: "Roboto Mono", sans-serif;
  background: var(--code);
  color: var(--white);
  border-radius: 4px;
  word-break: break-word;
  white-space: nowrap;
}

pre {
  display: block;
  padding: 12px;
  margin: 0 0 1.5em;
  font-size: 14px;
  line-height: 1.4;
  color: var(--white);
  background: var(--code);
  border-radius: 4px;
  overflow: auto;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  word-break: normal;
}

pre > code {
  border: none;
  white-space: pre;
}

img {
  vertical-align: middle;
}

ul,
ol {
  margin-bottom: 1.5em;
}

ul li,
ol li {
  line-height: 1.5em;
  margin-top: 0.5em;
}

/*
ol li::marker {
  content: "🔹 ";
}
*/

#topBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo {
  text-align: center;
  margin: 16px;
}

#logo img {
  margin: 0 8px;
  height: 32px;
  width: 32px;
}

#logo .subtitle {
  font-style: italic;
  font-weight: 300;
  color: var(--white);
  margin: 0;
}

#logo h1 {
  display: inline;
  vertical-align: middle;
  font-size: 24px;
  margin: 0;
  color: var(--accent);
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  line-height: 1em;
  margin: 0;
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  padding: 12px;
  margin: 0;
  color: var(--white);
}

nav ul li a svg {
  stroke: var(--white);
}

nav ul li a:focus,
nav ul li a:hover {
  color: var(--accent);
}

nav ul li a:hover svg,
nav ul li a:focus svg {
  stroke: var(--accent);
}

nav .nav-icon {
  display: inline;
}

main#content {
  text-align: left;
  max-width: 600px;
  min-width: 0;
  margin: auto;
}

footer#footer {
  margin: 12px auto 12px;
  padding: 12px;
}

footer#footer a {
  color: var(--white);
}

footer#footer .contact {
  font-size: 0.8em;
  color: var(--white);
}

footer#footer .contact .icons {
  margin: 12px 0 0 0;
}

h1.title {
  margin-bottom: 50px;
  text-align: center;
}

del {
  text-decoration: line-through;
  background-color: var(--accent-alpha);
  color: var(--white);
  padding: 0 4px;
}

ins {
  text-decoration: none;
  background-color: var(--light-accent);
  padding: 0 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px 8px;
}

th {
  border-bottom: 1px solid var(--white);
}

#home {
  text-align: center;
}

#home .image img,
#about .image img {
  margin: 24px 0;
  height: 200px;
  width: 200px;
  border: 4px solid var(--accent);
}

#home h1.title {
  display: inline-block;
  font-size: 2.1em;
  margin: 0 0 1em 0;
}

/* Blinking cursor in title */

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}

#logo h1::after {
  content: "";
  width: 13px;
  height: 3px;
  border-radius: 1px;
  background: #c55b61;
  display: inline-block;
  margin-left: 1px;
  position: relative;
  animation: cursor-blink 1.5s step-start infinite;
}

#home p {
  color: var(--white);
  text-align: left;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 1em;
}

#blog {
  margin-top: 20px;
  margin-bottom: 50px;
}

#blog .post {
  margin-bottom: 48px;
}

#markdown-toc {
  font-size: 15px;
}

#markdown-toc ul,
#markdown-toc ol {
  margin-bottom: inherit;
}

.author {
  padding: 35px 0 24px 0;
  margin-top: 72px;
  background: var(--black);
  position: relative;
}

.author h4 {
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
  margin-top: 4px;
}

.author img.profile {
  height: 80px;
  width: 80px;
  position: absolute;
  top: -45px;
  left: 50%;
  margin-left: -40px;
  border: 4px solid var(--black);
}

.author p.lead {
  font-size: 0.9em;
  margin-bottom: 0;
  font-weight: 300;
}

.author .contact {
  padding-top: 12px;
}

.author .contact a {
  padding: 12px;
}

.contact .icons {
  display: flex;
  justify-content: space-evenly;
}

.meta-info {
  font-weight: 400;
  font-style: italic;
  font-size: 0.9em;
  color: var(--white);
  margin-bottom: 2em;
}

.post-date {
  margin-bottom: 0.7em;
}

.tags {
  text-align: right;
  float: right;
}

.tags span::after {
  content: ", ";
}

.tags span:last-child::after {
  content: "";
}

.feather {
  vertical-align: bottom;
}

h2 .feather {
  vertical-align: baseline;
}

.post img {
  max-width: 100%;
  height: auto;
  margin: 2em auto;
  text-align: center;
  display: block;
}

.post img + em {
  display: block;
  width: 80%;
  margin: -1em auto 2em;
  font-size: 16px;
  text-align: center;
}

.post figcaption {
  display: block;
  width: 80%;
  margin: -1em auto 2em;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

.post img.space-bottom {
  margin-bottom: 3em;
}

.post video {
  max-width: 100%;
  height: auto;
}

.post pre {
  margin-bottom: 1.5em;
}

.post div.centered {
  display: block;
  margin: auto;
  text-align: center;
}

.post div.highlighted {
  margin: 2.5em 0;
  border-left: 8px solid var(--light-accent);
  padding: 0 12px;
  line-height: 1.5em;
}

blockquote {
  line-height: 1.5em;
  border-left: 8px solid var(--light-accent);
  padding: 1em;
  margin: 1em 0 1em 1em;
}

blockquote p {
  margin: 0;
}

.intro {
  font-size: 1.2em;
  line-height: 1.4em;
}

.comments {
  margin-top: 50px;
}

.interests .tag {
  background: var(--white);
  color: var(--black);
  padding: 4px 12px;
  margin: 4px;
  border-radius: 6px;
  white-space: nowrap;
}

.interests {
  margin: 2em 0;
  line-height: 2.3em;
}

.float-right {
  float: right;
}

.img-circle {
  border-radius: 50%;
}

.pager {
  margin: 50px 0 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pager a {
  display: inline-flex;
  padding: 12px 10px;
  border-radius: 16px;
  align-items: center;
}

.pager a:focus,
.pager a:hover {
  text-decoration: none;
  background-color: var(--light-accent);
}

.pager a.disabled {
  visibility: hidden;
}

.page_number {
  margin: 0 12px;
  color: var(--white);
}

@media (max-width: 768px) {
  main#content {
    max-width: 100%;
    padding: 16px;
  }

  h1.post-title {
    font-size: 36px;
  }

  .page_number {
    margin: 0 10px;
  }
}

@media (min-width: 1280px) {
  .author {
    position: fixed;
    bottom: 12px;
    left: 12px;
    width: 300px;
  }
}

@media (max-width: 56px) {
  nav .nav-icon {
    display: none;
  }
}
