---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>
<div class="meta-info">
  <div class="tags">
    {% include icon.html icon="tag" %} {% for tag in page.tags %}
    <span><a href="/tags/{{ tag }}">{{ tag }}</a></span>
    {% endfor %}
  </div>

  <div class="post-date">
    {% include icon.html icon="calendar" %}
    <time>{{ page.date | date_to_string }}</time>
  </div>

  {% include reading_time.html %}
</div>

<div class="post">{{ content }}</div>

<div class="author">
  <img src="/assets/img/dan.webp" class="profile img-circle" alt="Me" />
  <h4>Daniel Flannery</h4>
</div>
